/*Resets*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}